 /* font styles */

 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

 .font-quicksand{
    font-family: "Quicksand", serif;
 }
/* nav styles */
marquee {
    color: #bf1483;
    font-size: 4vw;
    font-weight: 800;
    text-transform: capitalize;
    text-shadow: 4px 4px 8px rgb(247, 137, 226);
    box-shadow: 0px 0px 20px 5px rgba(27, 199, 229, 0.15);
    border: none;
    margin-bottom: 20px;
    padding-top: 0;
    
  }
  .marquee-1{
    color: #1385ab;
    text-shadow: 4px 4px 8px rgba(50, 6, 50, 0.205);
    box-shadow: 0px 0px 20px 5px rgba(92, 192, 209, 0.15);
    margin-bottom: 0;
  }
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-section > .icon-bar{
    display: none;
}
.logo-section{
    display: flex;
    gap: 4px;
}
/* .logo-title{
    font-size: 32px;
    font-weight: 700;
} */
.link-section > ul{
    display: flex;
    gap: 30px;
}
ul > li{
    list-style: none;
}
li >a {
    text-decoration: none;
}
.list-1 > a{
    color: rgb(254, 163, 1);
}
.list-2 > a{
    color: rgb(1, 172, 253);
}
.list-3 > a{
    color: rgb(5, 212, 223);
}
.list-4 > a{
    color: rgb(93, 88, 239);
}
button{
    background-color:rgb(254, 163, 1) ;
    border: none;
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 40px;
  
    
}
button > p{
    padding: 1px 20px ;
   
}
/* shared styles */
nav,.banner-container{
    max-width: 1400px;
    margin: 0 auto;
  
}
/* banner styles */
.banner-container{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
}
.banner-description{
    padding-top: 127px;
    width: 640px;
    height: 300px;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 1px;

}
.banner-img{
    padding-right: 100px;
    /* padding-bottom: 0; */
}
img{
    width: 100%;
}
.span-1{
    color: rgb(254, 163, 1);
}
.span-2{
    color:rgb(1, 172, 253) ;
}
.enroll{
    background-color: black;
   

}
.banner-paragraph{
    font-size: 20px;
    font-weight: 400;
  
}
.standard-paragraph {
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 50px;
}
.curriculam-section {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;

}
.curriculam-section{
    background-image: url('../assets/bg.png');
}
.stories-section{
    background-image:url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%) ;
}
.curriculam{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
   align-items: center;
}
.curriculam > img{
    width: 100%;
    
}
.img-1{
    width: 150px;
    height: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    /* justify-content: center;
    align-items: center; */
}
.curriculam-1{
    width: 360px;
    height: 470px;
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(222, 245, 255);;
    border-radius: 18px;
    box-shadow:  0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255)
}
.curriculam-2{
    width: 360px;
    height: 470px;
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 28px 1px  rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.curriculam-3{
    width: 360px;
    height: 470px;
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 28px 1px  rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.link-1 > a{
    color:rgb(100, 200, 255);
    text-decoration: none;
}
.link-2 >a{
 color: rgb(240, 170, 0);
 text-decoration: none;
 
}
.link-3 > a{
color: rgb(135, 0, 255);
text-decoration: none;

}
.btn{
    padding: 30px;
    background-color: white;
   
    font-weight: 700;
    font-size: 20px;
}
.icon-arrow{
    display: flex;
    margin-top: 60PX;
    padding-right: 240px;
    padding-left: 240px; 
    justify-content: center;
    gap: 5PX;
    transition: position 5s linear 3s;
    
   
}
.icon-arrow :hover{
    position: relative;
    left: 200px;
    right: 200px;
}

/* stories-section */

 .stories-section{
    padding-top:80px ;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
 }
.stories-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 70px;
   
}
.story-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;  
    width: 600px;
    height: 620px;

}
.story-h{
    display: none;
}
.big-date{
    position: relative;
    top: -30px;
    left: -140px;
    border-radius: 45px;
    background-color: rgb(60, 216, 232);
}
.date{
    position: relative;
    top: -25px;
    left: -27px ;
    border-radius: 45px;
    /* left: -5px; */
    
}
.date-2{
    background-color: rgb(149, 178, 38);
}
.date-3{
    background-color: rgb(93, 88, 240);
}
.view-para{
    font-size: 20px;
    padding-bottom: 4px;
    margin-bottom: 40px;
}
.story-box-1{
    width: 550px;
    height: 620px;
    border-radius: 16px;
    /* border: 2px solid black; */
background: rgb(255, 255, 255);
}
.story-box-1 >img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.story{
    width: 290px;
    height: 300px;
    border-radius: 16px;

background: rgb(255, 255, 255);
}
.story > img{
    border-radius: 16px 16px 0px 0px;
}
/* footer section */

.footer{
    max-width: 1920px;
    margin: 0 auto;
    background-color:rgb(1, 172, 253) ;
    display: flex;
    /* background-color: rgb(1, 172, 253);  */
    gap: 20px;
    color: white;
    
    
}
.footer-logo{
    display: flex;
    gap: 4px;
    width: 240px;
    height: 140px;
}

.footer-img{
    width: 85px;
    height: 30px;
    padding-top: 5px;
    /* background-color: aliceblue; */
}

.footer-link > ul{
    display: grid;
    gap: 30px;
    padding-left: 60px;
}
.icon-div{
    display: flex;
}
.list > a{
    color: white;
}
.footer-1{
    width: 600px;
    height: 200px;
    padding-left: 141px;
}
.tweet-container{
    padding-left: 150px;
}





@media screen and (max-width :576px){
    .nav-section , .banner-container{
        max-width: 576px;
        margin: 0 auto;
    }
    .nav-section > .icon-bar{
        display: block;
    }
    .banner-description{
        padding-top: 40px;
        width: 300px;
        height: 400px;
        padding-bottom: 40px;
        text-align: center;
        margin-bottom: 40px;
        }
        .banner-title{
            font-size: 50px;
           
        
        
        }
   
    .nav-section{
        border: 2px solid orange;
        padding: 10px;
        

    }
    .nav-section > button,.logo-title,.link-section {
        display: none;
    }
    .banner-container{
    
    flex-direction: column-reverse;
    margin-bottom: 100px;
       
    }
    .banner-img{
        /* width: 500px;
        height: 400px; */
        padding-right:0;
    }
    .banner-img > img {
        width: 80%;
        padding-right: 0;
        margin: 0 auto;

    }
    .curriculam-section{
        margin-top: 60px;
    }
    .curriculam{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .icon-arrow{
        display: none;
    }
    .story-h{
        display: block;
    }
    .story-box-1{
        display:none;
    }
    .story-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 100px;
        width: 60%;
    }
    .stories-section{
        padding-top:30px ;
        max-width: 576px;
        margin: 0 auto;
        text-align: center;
     }
    
        
    .footer{
        margin-top: 140px;
    }
}