 /* font styles */

 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

 .font-quicksand{
    font-family: "Quicksand", serif;
 }
/* nav styles */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-section{
    display: flex;
    gap: 4px;
}
/* .logo-title{
    font-size: 32px;
    font-weight: 700;
} */
.link-section > ul{
    display: flex;
    gap: 30px;
}
ul > li{
    list-style: none;
}
li >a {
    text-decoration: none;
}
.list-1 > a{
    color: rgb(254, 163, 1);
}
.list-2 > a{
    color: rgb(1, 172, 253);
}
.list-3 > a{
    color: rgb(5, 212, 223);
}
.list-4 > a{
    color: rgb(93, 88, 239);
}
button{
    background-color:rgb(254, 163, 1) ;
    border: none;
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 40px;
  
    
}
button > p{
    padding: 1px 20px ;
   
}
/* shared styles */
nav,.banner-container{
    max-width: 1400px;
    margin: 0 auto;
  
}
/* banner styles */
.banner-container{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
}
.banner-description{
    padding-top: 127px;
    width: 640px;
    height: 300px;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 1px;

}
.banner-img{
    padding-right: 100px;
    /* padding-bottom: 0; */
}
img{
    width: 100%;
}
.span-1{
    color: rgb(254, 163, 1);
}
.span-2{
    color:rgb(1, 172, 253) ;
}
.banner-paragraph{
    font-size: 20px;
    font-weight: 400;
  
}
